.menu {
  width: 170px;
  height: 100%;
  background-color: #311b92;
  position: fixed;
  padding-top: 42px;
  top: 0;
  right: -170px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;

  &.active {
    right: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 24px;
    color: lightgrey;
    width: 60%;

    li {
      margin-bottom: 20px;

      a {
        font-size: inherit;
        color: inherit;
        text-decoration: none;
      }

      &:hover {
        font-weight: 500;
      }
    }
  }
}
