.app {
  height: 100%;
}

.sections {
  width: 100%;
  height: calc(100vh - 41px);
  position: relative;
  top: 41px;
  scroll-behavior: smooth; //this makes the "a" link move slower to the right section
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scrollbar-width: none; //this is only for firefox
  &::-webkit-scrollbar {
    //this is for the rest
    display: none;
  }

  > * {
    width: 100%;
    height: calc(100vh - 41px);
    scroll-snap-align: start;
  }
}
